@import "../../common/color.css";

.header{
    background-color: var(--secondary-color);
    height: 92px;
    padding: 0 4px;
    display:  flex;
    align-items: center;
    justify-content: space-around;

}

.logo{
    color: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
}

.user-image{
    width: 38px;
    height: 38px;
}